{% extends 'base.html.twig' %}

{% block css %}

{% endblock %}

{% block body %}
<section class="ghost contact">
  <div class="row">

  <div class="container col-6 text-left">
    <h1>Me Contacter</h1>
      <p><i class="fas fa-mobile-alt"></i>: 07.72.13.30.21</p>
      <p><i class="far fa-envelope"></i>: VJerem08@gmail.com</p>
      <p><i class="fas fa-street-view"></i>: Nevers, Bourgogne, Fance</p>
      <p><i class="fas fa-file-pdf"></i>: Téléchargez mon cv <a href="#">ici</a></p>
  </div>

  <div class="container col-6 reseaux">
    <h1>Mes Réseaux</h1>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-linkedin-in"></i>
    <i class="fab fa-github"></i>
    <i class="fab fa-stack-overflow"></i>
  </div>
</div>
</div>
</section>
{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ asset('JS/script.js') }}"></script>

{% endblock %}
