{% extends 'base.html.twig' %}

{% block body %}


<h1 class="line-1">

  <a  href="" class="typewrite" data-period="1500" data-type='[ "Bienvenue Visiteur", "Vous allez pénétrer dans le portfolio<br> de Jérémy Vion", "Développeur web et web mobile","Bonne visite !" ]'>
    <span class="wrap"></span>
  </a>
</h1>

{% endblock %}

{% block script %}

<script type="text/javascript" src="{{ asset('JS/TypeWriter.js') }}"></script>

{% endblock %}
